<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="entityFramework"
		         type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		         requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="BevososContext"
		     connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=BevososDataBase;User ID=BevososUser;Password=bevososuser;Encrypt=False;TrustServerCertificate=True; Connection Timeout=5"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
			          type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="connectionBinding" receiveTimeout="01:00:00">
					<reliableSession enabled="true" inactivityTimeout="00:02:00" />

					<security mode="None" />
				</binding>
				<binding name="normalBinding"  receiveTimeout="01:00:00">
					<reliableSession enabled="true" inactivityTimeout="00:00:30" />

					<security mode="None" />
				</binding>
				<binding name="secureTcpBinding">
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="BevososService.Implementations.ServiceImplementation">
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="normalBinding"
				          contract="BevososService.IUsersManager" />
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="normalBinding"
				          contract="BevososService.ILobbyManager" />
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="normalBinding"
				          contract="BevososService.ILobbyChecker" />
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="normalBinding"
				          contract="BevososService.IProfileManager" />
				<endpoint address="SocialManager" binding="netTcpBinding" bindingConfiguration="connectionBinding"
				          contract="BevososService.ISocialManager" />
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="normalBinding"
				          contract="BevososService.IGameManager" />
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="normalBinding"
				          contract="BevososService.IStatsManager" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://192.168.1.64:8000/ServiceImplementation" />

					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>